node_modules/
auth/
cookies/
.env

*.mp4
*.mp3
*.webp

src/modos/youtube/videos-baixados/*
!src/modos/youtube/videos-baixados/.gitkeep

src/modos/musica/musicas-baixadas/*
!src/modos/musica/musicas-baixadas/.gitkeep

src/modos/figurinhas/midias-recebidas/*
!src/modos/figurinhas/midias-recebidas/.gitkeep

src/modos/figurinhas/figurinhas-prontas/*
!src/modos/figurinhas/figurinhas-prontas/.gitkeep